.blog{
    .img-block{
        position: relative;
        // height: 100%;
        img{
            border-radius: 20px;
            object-fit: cover;
            // height: 100%;
        }
        .content{
            position: absolute;
            padding: 30px;
            left: 0;
            bottom: 0;
            @include media-query(578px) {
                padding: 10px;
            }

        }
    }
    .content{
        .author-detail{
            display: flex;
            align-items: center;
            gap: 10px;
            .name-image{
                display: flex;
                align-items: center;
                gap: 5px;
                img{
                    border-radius: 0;
                }
            }
            .other-detail{
                display: flex;
                align-items: center;
                gap: 5px;
                padding-left: 10px;
                border-left: 0.5px solid $white;
            }
        }
        
    }
    .blog-list{
        padding-left: 30px;
        border-left: 1px solid $lightest-gray;
        @include media-query(1500px) {
            padding-left: 15px;
            border: none;
        }
        @include media-query(1399px) {
            padding: 0;
        }

        &.st-2{
            padding: 0 11px;
            border: 0;
            position: relative;
            @include media-query(578px) {
                padding: 0px;
            }
            &::after,
            &::before{
                content: '';
                position: absolute;
                top: 0;
                width: 1px;
                height: 100%;
                background: #4A4E58;
                @include media-query(1399px) {
                    display: none;
                }
            }
            &::before{
                left: -9px;
            }
            &::after{
                right: -9px;
            }
            .blog-block{
                padding: 20px;
                background: $black;
                border-radius: 30px;
                align-items: center;
                @include media-query(1500px) {
                    align-items: flex-start;
                }
                @include media-query(1399px) {
                    align-items: center;
                }
                @include media-query(768px) {
                    align-items: flex-start;
                }
                @include media-query(578px) {
                    padding: 10px;
                }

                .content{
                    padding: 0;
                    &::before{
                        display: none;
                    }
                }
            }
        
        }
    }
    .line{
        margin: 30px 0;
        width: 100%;
        height: 1px;
        background: $lightest-gray;
    }
    .blog-block{
        display: flex;
        align-items: flex-start;
        gap: 25px;
        @include media-query(1500px) {
            gap: 16px;
            flex-direction: column;
        }
        @include media-query(1399px) {
            gap: 25px;
            flex-direction: row;
        }
        @include media-query(992px) {
            gap: 16px;
        }
        @include media-query(768px) {
            flex-direction: column;
        }
        &.size-none{
            @include media-query(1500px) {
                display: none;
            }
            @include media-query(1399px) {
                display: flex;
            }
        }
        .content{
            position: relative;
            padding-top: 12px;
            &::before{
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 38px;
                height: 5px;
                border-radius: 9px;
                border: 1px solid #2B2D32;
                background: #2B2D32;
                margin-bottom: 12px;
            }
            p{
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                        line-clamp: 2; 
                -webkit-box-orient: vertical;
            }
            &.before-none{
                padding: 0;
                &::before{
                    display: none;
                }
            }
        }
        

        img{
            border-radius: 20px;
        }
        h2{
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
                    line-clamp: 2; 
            -webkit-box-orient: vertical;
        }
        .tag-time{
            display: flex;
            align-items: center;
            gap: 18px;
            flex-wrap: wrap;
            span{
                padding: 6px 20px;
                border-radius: 20px;
                border: 1px solid $dark-gray;
                background: $light-black;
                color: $white;
            }
        }
        &.st-2{
            flex-direction: column;
            gap: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid $lightest-gray;
            
            .content{
                padding: 0;
                p{
                    font-size: 12px;
                }
                &::before{
                    display: none;
                }
            }

        }
    }
    .sec-title{
        padding-bottom: 18px;
        border-bottom: 4px solid $accent-1;
    }
}
.blog-detail{
    .detail-content{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 90px;
    }
    .blog-block{
        p{
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 10!important;
                    line-clamp: 10; 
            -webkit-box-orient: vertical;
            br{
                @media(max-width: 1500px) {
                    display: none;
                }

            }
        }
        .content{
            p.text{
                font-size: 18px;
                font-weight: 400;
                line-height: 30px;
                color: #DADADA;
                @media(max-width: 992px) {
                    font-size: 16px;
                }
                @media(max-width: 490px) {
                    font-size: 14px;
                }
            }
            .line{
                width: 90%;
                margin: 0 0 24px 0;
                &.st-2{
                    margin: 19px 0;
                }
                @media(max-width: 992px) {
                    width: 100%;
                }

            }
            img{
                border-radius: 0;
            }
            .author-detail{
                gap: 0px;
                .name-image{
                    gap: 16px;
                    P{
                        font-weight: 500px;
                        line-height: 140%;
                        display: flex;
                        align-items: center;
                        gap: 12px;
                        span{
                            color: #A0A0A0;
                            font-family: $font-sec;
                            font-size: 14px;
                            font-weight: 500;
                            line-height: 18px; 
                        }
                    }
                }
            }
        }
    }
   
    .recent-block{
        .article{
            display: flex;
            align-items: center;
            gap: 20px;
            @include media-query(1500px) {
                flex-direction: column;
                align-items: flex-start;
            }
            @include media-query(1399px) {
                flex-direction: row;
                align-items: flex-start;
            }
            @include media-query(490px) {
                flex-direction: column;
                align-items: flex-start;
            }
            img{
                border-radius: 20px;
                @include media-query(490px) {
                    width: 100%;
                }
            }

            .content{
                img{
                    @include media-query(490px) {
                        width: inherit;
                    }
                }
                .author-detail{
                    .name-image{
                        gap: 12px;
                    }
                } 
            }
        }
    }
    .responsive-none{
        @include short-query(1400px , 1500px) {
            display: none!important;
        }
    }
}