.hero-banner-1 {
    width: 100%;
    .anime-card{
        background: url(../media/banner/bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        border-radius: 12px;
        padding: 50px;
        @include media-query(490px) {
            padding: 20px;
        }

        .logo{
            margin-bottom: 96px;
            @include media-query(768px) {
                margin-bottom: 58px;
            }
            @include media-query(575px) {
                margin-bottom: 42px;
            }
            @include media-query(490px) {
                margin-bottom: 28px;
            }
        }
        .tag{
            display: flex;
            align-items: center;
            gap: 12px;
            li{
                padding: 4px 8px;
                border-radius: 8px;
                border: 1px solid #FFF;
                color: #FFF;
                text-align: center;
                font-family: $font-sec;
                font-size: 14px;
                font-weight: 600;
                line-height: 150%; 
            }
        }
        p{
            b{
                font-weight: 400;
            }
        }
        .btn-block{
            display: flex;
            align-items: center;
            gap: 16px;
        }
    }
    .anime-sm-card{
        padding: 20px;
        border-radius: 20px;
        background: $lightest-black;
        display: flex;
        align-items: flex-start;
        gap: 20px;
        &.mb-30{
            margin-bottom: 30px;
            @include short-query(1199px, 1399px) {
                margin: 0!important;
            }

        }
        @include media-query(575px) {
            padding: 15px;
            gap: 15px;
        }
        @include media-query(490px) {
            padding: 20px;
            gap: 20px;
            flex-direction: column;
        }

        img{
            @include media-query(1680px) {
                width: 35%;
            }
            @include media-query(1440px) {
                width: 40%;
            }
            @include media-query(1199px) {
                width: 20%;
            }
            @include media-query(992px) {
                width: 25%;
            }
            @include media-query(768px) {
                width: 35%;
            }
            @include media-query(575px) {
                width: 38%;
            }
            @include media-query(490px) {
                width: 100%;
            }

        }

        h4{
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        p{
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-bottom: 50px;
            @include media-query(1680px) {
                margin-bottom: 16px;
            }
        }

        .tag{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 10px;
            overflow: hidden;
            li{
                color: $medium-gray;
                font-family: $font-sec;
                font-size: 14px;
                font-weight: 600;
                line-height: 150%; /* 21px */
                position: relative;
                margin-left: 13px;
                &::before{
                    content: '';
                    position: absolute;
                    left: -12.5px;
                    top: calc(50% - 2px);
                    width: 4px;
                    height: 4px;
                    border-radius: 4px;
                    background: $medium-gray;
                    margin: 0;
                }
                &:first-child{
                    margin-left: 0;
                    &::before{
                        display: none;
                    }
                }
                &.sec{
                    padding: 0 4px;
                    border-radius: 4px;
                    border: 1px solid $medium-gray;
                }
            }
        }
    }
}