.inner-banner {
    background: url(../media/backgrounds/bg-2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .videoplayer {
        .aks-video-player {
            height: 615px !important;
            border-radius: 12px;
            @media(max-width: 1199px) {
                height: 454px!important;
            }
            @media(max-width: 575px) {
                height: 254px!important;
            }
        }

        .icon-block {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 12px;

            .icon {
                display: inline-flex;
                padding: 16px;
                justify-content: center;
                align-items: flex-start;
                gap: 10px;
                border-radius: 50px;
                border: 1px solid #FFF;
                background: rgba(45, 36, 36, 0.60);
                box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.30);
                backdrop-filter: blur(5px);

                i {
                    font-size: 20px;
                    color: $white;
                }
            }

            .time {
                display: flex;
                padding: 10px 13px;
                justify-content: center;
                align-items: center;
                gap: 10px;
                border-radius: 41px;
                border: 1px solid #FFF;
                background: #FFF;
                box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.30);
                backdrop-filter: blur(25px);

                span {
                    color: $light-black;
                    text-align: center;
                    font-family: $font-sec;
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 130%;
                    @media(max-width: 575px) {
                        font-size: 16px;
                    }
                }
            }
        }
    }

    .movie-listing {
        border-radius: 12px;
        background: #181818;
        padding: 20px 10px;
        position: relative;
        height: 615px;
        overflow: auto;
        @media(max-width: 1199px) {
            height: 454px;
        }
        @media(max-width: 490px) {
            height: 400px;
        }


        &::-webkit-scrollbar {
            width: 10px;
        }
        /* Track */
        &::-webkit-scrollbar-track {
            background: transparent;
            padding: 0 2px;
            width: 10px;
        }
        
        /* Handle */
        &::-webkit-scrollbar-thumb {
            width: 6px;
            background: $black;
            border-radius: 6px;
        }
        
        /* Handle on hover */
        // &::-webkit-scrollbar-thumb:hover {
        //     background: #555; 
        // }

        .name-detail{
            padding: 0 10px;
            @media(max-width: 1199px) {
                padding: 0;
            }
            @media(max-width: 992px) {
                padding: 0 10px;
            }
            @media(max-width: 490px) {
                padding: 0;
            }

            .accordion-button {
                padding: 12px 20px;
                border-radius: 12px 12px 0 0;
                background: $black;
                display: flex;
                align-items: center;
                gap: 8px;
                color: $white;
    
                &.collapsed {
                    border-radius: 12px;
                }
    
                span {
                    display: -webkit-box;
                    overflow: hidden;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 1;
                    font-family: $font-primary;
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 120%;
    
                    @media(max-width: 992px) {
                        font-size: 22px;
                    }
    
                    @media(max-width: 767px) {
                        font-size: 20px;
                    }
    
                    @media(max-width: 575px) {
                        font-size: 18px;
                    }
                }
    
                i {
                    font-size: 20px;
    
                }
            }
    
            .accordion-body {
                padding: 6px 20px 12px 20px;
                border-radius: 0 0 12px 12px;
                background: $black;
                display: flex;
                flex-direction: column;
                gap: 12px;
    
                li {
                    a {
                        color: $medium-gray;
                        font-family: $font-sec;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 150%;
    
                        @media(max-width: 575px) {
                            font-size: 14px;
                        }
    
                        &:hover {
                            color: $accent-1;
                        }
                    }
                }
            }
        }


        .episode-list {
            .list {
                display: flex;
                align-items: center;
                gap: 20px;
                padding: 10px;
                border-radius: 16px;
                background: transparent;

                @media(max-width: 1199px) {
                    padding: 10px 0;
                    gap: 12px;
                }
                @media(max-width: 992px) {
                    padding: 10px;
                    gap: 20px;
                }
                @media(max-width: 490px) {
                    padding: 10px 0;
                    gap: 12px;
                }
                .img-block {
                    border-radius: 12px;
                    overflow: hidden;
                    position: relative;

                    img {
                        object-fit: cover;
                    }

                    a {
                        position: absolute;
                        right: 6px;
                        bottom: -150px;
                        transition: $transition;
                        z-index: 555;
                    }
                }

                &:hover {
                    cursor: pointer;
                    background: $black;
                    .img-block {

                        a {
                            bottom: 6px;
                        }
                    }
                }

                .detail-list {
                    display: block;
                    width: 60%;
                    @media(max-width: 992px) {
                        width: 76%;
                    }

                    h5 {
                        color: $white;
                        font-family: $font-sec;
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 150%;
                        /* 24px */
                        margin-bottom: 6px;
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                                line-clamp: 1; 
                        -webkit-box-orient: vertical;

                        @media(max-width: 490px) {
                            font-size: 14px;
                        }
                    }

                    p {
                        color: $white;
                        font-family: $font-sec;
                        font-size: 15px;
                        font-weight: 400;
                        line-height: 150%;
                        margin-bottom: 6px;
                        @media(max-width: 1199px) {
                            font-size: 14px;
                        }
                        @media(max-width: 992px) {
                            font-size: 15px;
                        }
                        @media(max-width: 492px) {
                            font-size: 14px;
                        }
                        &:last-child {
                            margin: 0;
                        }

                        span {
                            color: $medium-gray;
                        }
                    }

                    .time-view {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        .views-block {
                            display: flex;
                            align-items: flex-start;
                            gap: 15px;

                            a {
                                display: flex;
                                align-items: center;
                                gap: 4px;
                                color: $white;
                                font-family: $font-sec;
                                font-size: 14px;
                                font-weight: 600;
                                line-height: 150%;
                                /* 21px */
                                letter-spacing: 0.28px;

                                i {
                                    font-size: 16px;
                                }

                                &:hover {
                                    color: $accent-1;

                                    svg {
                                        stroke: $accent-1;
                                    }
                                }

                            }
                        }
                    }
                }



            }
            .line{
                width: calc(100% - 20px);
                height: 1px;
                margin: 16px auto;
                background: $black;
                @include media-query(490px) {
                    margin: 8px 0;
                }

            }
        }
    }
}