.top-anime{
    .anime-card{
        display: flex;
        padding: 12px 30px 12px 12px;
        justify-content: center;
        // align-items: center;
        gap: 24px;
        border-radius: 20px;
        border: 1px solid $lightest-gray;
        background: $black;
        transition: $transition;
        @include media-query(1500px) {
            flex-direction: column;
            gap: 16px;
        }
        @include media-query(1399px) {
            flex-direction: row;
            justify-content: start;
            gap: 16px;
        }

        img{
            border-radius: 12px;
            @include media-query(1500px) {
                width: 72px;
            }

        }
        .text-block{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            h6{
                color: $white;
                font-family: $font-primary;
                font-size: 16px;
                font-weight: 600;
                line-height: 150%; /* 24px */
                letter-spacing: 0.32px;
                margin-bottom: 4px;
                @media(max-width: 490px) {
                  font-size: 14px;
                }
            }
            .tag {
                display: flex;
                align-items: center;
                @include media-query(1500px) {
                    margin-top: 8px;
                }

                li {
                    color: $medium-gray;
                    font-family: $font-sec;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 120%;
                    padding-left: 8px;
                    margin-left: 8px;
                    border-left: 1px solid #43464B;
                    @include media-query(490px) {
                        font-size: 14px;
                    }


                    &.icon {
                        padding: 0 4px 0 12px;

                        i {

                            color: #EEAA0F;
                        }
                    }

                    &:nth-child(5) {
                        margin: 0;
                        border: none;
                    }

                    &:nth-child(1) {
                        margin: 0;
                        padding-left: 0;
                        border: none;
                    }
                }
            }
        }
        &:hover{
            box-shadow: $light-shadow;
        }

    }
}